<style>
    .footer-bar { 
        width: 100%; 
        background: #000; 
        height: 45px; 
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
        padding: 0 25px; 
        border-top: 1px solid #222; 
        font-size: 0.8rem; 
        text-transform: uppercase; 
        font-weight: bold; 
    }
</style>

<div class="footer-bar">
    <div id="rain-info">CABANILLAS: ANALIZANDO DATOS...</div>
    <div id="temp-torrevieja">TORREVIEJA: --ºC | CARGANDO</div>
</div>