<div class="header">
    <div class="time-area glass-box">
        <div id="time">00:00</div>
        <div id="date">--</div>
    </div>
    <div class="weather-now glass-box">
        <div class="temp-row">
            <span id="main-icon">☀️</span>
            <span id="temp-big">--ºC</span>
        </div>
        <div id="weather-status">--</div>
        
        <div id="hourly-container"></div>
    </div>
</div>
<div class="forecast-area">
    <div class="loc-label" id="city-label">CIUDAD</div>
    <div id="forecast-box"></div>
</div>