<div class="header">
    <!-- Le añadimos la clase 'box-reloj' -->
    <div class="time-area glass-box box-reloj">
        <div id="time">00:00</div>
        <div id="date">--</div>
    </div>

    <!-- Le añadimos la clase 'box-clima' -->
    <div class="weather-now glass-box box-clima">
        <div class="temp-row">
            <span id="main-icon">☀️</span>
            <span id="temp-big">--ºC</span>
        </div>
        <div id="weather-status">--</div>
        <div id="hourly-container"></div>
    </div>
</div>